.header {
  background-color: #212934;
  padding: 0px 24px;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span {
    color: $GeryColor;
    font-size: 12px;
    padding-left: 5px;
  }
  svg {
    color: $GeryColor !important;
    padding-left: 4px;
  }
  ul {
    display: flex;
    align-items: center;
  }
}
.header__right {
  display: flex;
  ul {
    li {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.header__left {
  margin-right: auto;
  ul {
    li {
      &:first-child {
        margin-right: 20px;
      }
      .bi-telephone-fill {
        transform: rotateY(180deg);
      }
    }
  }
  .btn {
    padding: 0px 5px;
  }
}
